<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msystechnologies.msysempportal">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.msystechnologies.msysempportal.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Activity for Group -->
        <activity
            android:name=".Dashboard"
            android:label="Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Activity for home group -->
        <activity
            android:name=".Profile"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".Settings"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Documents"
            android:label="Documents"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Qualifications"
            android:label="Qualifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Family"
            android:label="Family"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Experience"
            android:label="Experience"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Visa"
            android:label="Visa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Projects"
            android:label="Projects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Team"
            android:label="Team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Skillset"
            android:label="Skillset"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Activity for Leave group -->

        <activity
            android:name=".ApplyLeave"
            android:label="ApplyLeave"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LeaveHistory"
            android:label="LeaveHistory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeamLeaves"
            android:label="TeamLeaves"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Activity for Infrastructure group -->

        <activity
            android:name=".ItTickets"
            android:label="ItTickets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HrTickets"
            android:label="HrTickets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InterviewDetails"
            android:label="InterviewDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InterviewHistory"
            android:label="InterviewHistory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Circulars"
            android:label="Circulars"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Resource"
            android:label="Resource"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Activity for Others group -->

        <activity
            android:name=".Events"
            android:label="Events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Openings"
            android:label="Openings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Bug"
            android:label="Bug"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Settings for optionmenu itemselected -->
        <activity
            android:name=".Birthday"
            android:label="Birthday"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Holiday"
            android:label="Holiday"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Add_Document"
            android:label="Document Details" />
        <activity android:name=".Add_qualifications" />
        <activity android:name=".Add_Experience" />
        <activity android:name=".Add_Family" />
        <activity android:name=".Add_Projects" />
        <activity android:name=".Add_Visa" />
        <activity android:name=".Add_Resource" />
        <activity android:name=".Add_Skillset" />

    </application>

</manifest>
