<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msystechnologies.msysempportal">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.msystechnologies.msysempportal.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Activity for Group -->
        <activity
            android:name=".Dashboard"
            android:parentActivityName=".MainActivity" />

        <!-- Activity for Profile group -->
        <activity
            android:name=".Profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Documents"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Qualifications"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Family"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Experience"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Visa"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Projects"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Team"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Skillset"
            android:parentActivityName=".MainActivity" />

        <!-- Activity for Leave group -->

        <activity
            android:name=".ApplyLeave"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LeaveHistory"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TeamLeaves"
            android:parentActivityName=".MainActivity" />

        <!-- Activity for Infrastructure group -->

        <activity
            android:name=".ItTickets"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HrTickets"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InterviewDetails"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InterviewHistory"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Circulars"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Resource"
            android:parentActivityName=".MainActivity" />

        <!-- Activity for Others group -->

        <activity
            android:name=".Events"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Openings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Bug"
            android:parentActivityName=".MainActivity">

        </activity>

        <!--Settings for optionmenu itemselected-->
        <activity android:name=".Settings"
            android:parentActivityName=".MainActivity">

        </activity>
    </application>

</manifest>
